body {
background-color: rgb(212, 204, 204);
}

#tehetseg {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: 20px;
    font-family:monospace;
} 

h1 {
    color: blue;
} 

.content {
    margin: 50px 50px 0 0;
    font-size: 25px;
    color: indigo;
    font-style: italic;
    max-width: fit-content;
}

.content2 {
    margin: 20px 30px 30px 30px;
    font-size: 22px;
    color: indigo;
    border-top: solid indigo 1px;
    line-height: 35px;
    border-bottom: solid indigo 1px;
    text-align: justify;
    text-transform: none;
    font-weight: normal;
}

#felsorolas {
    color: red;
    font-size: 18px;
    position:relative;
    top: 50%  ;

}  
.content3 {
    color: green;
    block-size: 50%;
    background-color:lightgray;
    width: fit-content;
    border-style: ridge;
}
#kep1 {
    position: relative;
    left: 50% ;
    width: fit-content;
    padding: 50px;
    display: none
}

#programerskills {
    color: green;
    font-family: monospace;
    font-size: 20px;
    margin: 5px ;
}

#felsorolas2 {
    color: green;
    font-size: 18px;
    position: relative;
}


#kep2 {
box-shadow: 7px 3px 3px;
width: 47%;
margin: 1%;
position: relative;


}

#kep3 {
box-shadow: 7px 3px 3px ;
width: 47%;
margin: 1%;
position: fixed 50%;
}

.login-div {
    position:relative;
    top: 0px;
}

#order-button {
color: blue;
margin: 3px;
border: 7px 3px 3px blue;
box-shadow: 2px 2px 2px black;
font-weight: 500;
font-size: 25px;
}

#home-button {
color: red;
margin: 10px;
box-shadow: 2px 2px 2px black;
font-size: 25px;
}

#login {
    color: green;
    margin: 10px;
    box-shadow: 2px 2px 2px black;
    font-size: 25px;
}

.kerdes {
    font-weight: bolder;
    font-size: 20px;
    color: red;
}
#attention {
    color: rgba(255, 0, 0, 0.87);
    font-size: 40px;
    font-weight: 150px;
}